@import '../../../../styles/variables';

.page {
  font-size: 300%;
  text-align: left;
  margin-left: 7%;
}

.line {
  padding: 1%;
}

input {
  width: 60%;
}

button {
  margin-top: 2%;
  margin-left: 1%;
}
