<div class="recherche">
  <input class="inputRecherche" type="text" #nom placeholder=" Recherche">
  <button class="boutonRecherche" (click)="modifyFilter(nom.value)">Rechercher</button>
</div>

<div *ngFor="let guest of guestList | paginate: { itemsPerPage: 4, currentPage: pageCount } | filter:searchElement">
  <div class="row" (click)="putGuestInSessionAndGo(guest)">{{guest.firstName}} {{guest.lastName}}</div>
</div>

<div class="pagination">
  <pagination-controls class="my-paginator" previousLabel="Précédent" nextLabel="Suivant" autoHide="true" responsive="true"
                       (pageChange)="pageCount = $event">

  </pagination-controls>
</div>
