body {
  display: block;
}

.card {
  padding: 20px;
  font-size: 200%;

  .question {
    text-align: center;
  }

  .question-label {
    margin-bottom: 10px;
  }

  .answers {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
  }

  .answer-button {
    margin: 10px;
  }

  .skip-button {
    margin-top: 2%;
  }

  img {
    width: 300px;
    height: 200px;
    margin: 5px;
  }
}
