<div class="card" [ngClass]="setContrast()">
  <div class="question" [ngClass]="setSize()">
    <h2 class="question-label" [ngClass]="setSize()">
      {{ question.label }}
    </h2>
    <div class="answers">
      <button
        *ngFor="let answer of question.answers; let i = index"
        class="answer-button"
        style="visibility: hidden; opacity: 0;"
        [@isAnswerCorrect]="forAnimation[i]"
        (@isAnswerCorrect.done)="validateAnswer(i, $event)"
        (click)="checkAnswer(answer)"
        [ngClass]="setSize()">
        <img src="{{getImage(answer.imageId).path}}">
        <br> {{answer.value}}
      </button>
    </div>
    <button (click)="skipQuestion()" *ngIf="enableSkip" class="skip-button" [ngClass]="setSize()">
      Passer à la question suivante
    </button>
  </div>
</div>
