<app-questionToAnswer style="opacity: 0" *ngIf="isQuestionVisible"
                      (@inAndOut.done)="makeAnswerAppear()"
                      [@inAndOut]="isQuestionVisible"
                      [question]="ongoingQuestion"
                      (goToNextQuestion)="goToNextQuestion($event)">
</app-questionToAnswer>
<div class="rightAnswer" style="opacity: 0" *ngIf="isAnswerVisible"
     (@inAndOut.done)="makeQuestionAppear()"
     [@inAndOut]="isAnswerVisible">
  La bonne réponse était : <br> {{rightAnswer}}
</div>
