<div class="page">
  <div *ngFor="let x of totalQuiz | paginate: { itemsPerPage: 2, currentPage: pageCount }">
    <div style="display: inline;" *ngFor="let y of x">
      <div class="card" (click)="navigate(this.getQuiz(y))">
        <img src="{{this.getImageById(this.getQuiz(y).image.id).path}}" width="280" height="151">
        {{this.getQuiz(y).name}}
      </div>
    </div>
  </div>
  <pagination-controls class="my-paginator" previousLabel="Précédent" nextLabel="Suivant" autoHide="true"
                       responsive="true"
                       (pageChange)="pageCount = $event">
  </pagination-controls>
</div>
