@import '../../../../styles/variables';

.invisibleRow {
  position: relative;
}

.page {
  padding: 2%;
  position: relative;
}

//TODO en mobile ça marche pas bien
.left {
  display: inline;
  position: absolute;
  left: 10px;
}

.right {
  display: inline;
  position: absolute;
  right: 10px;
}

.cheat {
  display: inline;
  visibility: hidden;
}
