<div class="page">
  <div class="invisibleRow">
    <div class="left">
      <label for="prenom">Prénom</label>
      <input id="prenom" type="text" placeholder="Prénom" #firstName
             [value]="guestToEdit ? guestToEdit.firstName : null">
    </div>
    <div class="cheat">a</div>
    <div class="right">
      <label for="nom">Nom</label>
      <input id="nom" type="text" placeholder="Nom" #lastName [value]="guestToEdit ? guestToEdit.lastName : null">
    </div>
  </div>
  <!--  <div class="invisibleRow">-->
  <!--    <label for="birthDate">Date de naissance :</label>-->
  <!--    <input id="birthDate" type="date" #birthDate>-->
  <!--  </div>-->
  <!--  C'est dans la maquette mais est inutile je pense  -->
  <div class="invisibleRow">
    <label for="accessibility">Profil d'accessibilité :</label>
    <select id="accessibility">
      <option *ngFor="let access of accessibilities" [value]="access" #accessibility
              [selected]="guestToEdit && guestToEdit.accessibility == access ? true : false">
        {{access}}
      </option>
    </select>
  </div>
  <button (click)="createModifyGuest()">
    <fa-icon [icon]="icon"></fa-icon>
    {{buttonText}}
  </button>

</div>
