<div class="page">
  <div class="line">
    <label for="nom">Nom du thème</label>
    <br>
    <input class="long" id="nom" type="text" placeholder="Nom du thème" #name>
  </div>
  <div class="line">
    <label for="keywords">Mots-clés associés au thème</label>
    <br>
    <input class="long" id="keywords" type="text" placeholder="Mots-clés associés au thème" #keywords>
  </div>
  <div class="line">
    <label for="image">Image associée au thème</label>
    <br>
    <input class="long" id="image" type="text" placeholder="Image associée au thème" #imageId>
<!--  TODO le bouton pour chercher l'image  -->
  </div>
  <button (click)="createTheme()">
    Valider
  </button>
</div>
