<div class="main">
  <div class="card" routerLink="/guest-selection">
    <fa-icon [icon]="iconPlay" size="2x"></fa-icon>
    Lancer un quizz
  </div>

  <div class="card" routerLink="/manage-images/images-list">
    <fa-icon [icon]="iconImages" size="2x"></fa-icon>
    Gérer les images
  </div>

  <div class="card" routerLink="/manage-quizzes/themes-list">
    <fa-icon [icon]="iconQuizzes" size="2x"></fa-icon>
    Gérer les quizz
  </div>

  <div class="card" routerLink="/manage-guests/guests-list">
    <fa-icon [icon]="iconGuests" size="2x"></fa-icon>
    Gérer les accueillis
  </div>

  <div class="card" routerLink="/see-results/guest-selection">
    <fa-icon [icon]="iconResults" size="2x"></fa-icon>
    Voir les résultats
  </div>

</div>

