<div class="main">
  <div class="card" routerLink="/guest-selection">
    <img class="img-quizz" src="https://image.flaticon.com/icons/svg/482/482059.svg">
    Lancer un quizz
  </div>

  <div class="card" routerLink="/manage-images">
    <img class="img-image" src="https://image.flaticon.com/icons/svg/1060/1060418.svg">
    Gérer les images
  </div>

  <div class="card" routerLink="/manage-quizzes">
    <img class="img-quizzes" src="https://image.flaticon.com/icons/svg/70/70547.svg">
    Gérer les quizz
  </div>

  <div class="card" routerLink="/manage-guests">
    <img class="img-guests" src="https://image.flaticon.com/icons/svg/659/659299.svg">
    Gérer les accueillis
  </div>

  <div class="card" routerLink="/see-results">
    <img class="img-results" src="https://image.flaticon.com/icons/svg/478/478544.svg">
    Voir les résultats
  </div>

</div>
