@import '../../styles/variables.scss';

.row{
  background: $white;
  width: 90%;
  border-radius: 2px;
  margin: 1rem auto;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 3%;
}
