<div class="page">
  <div class="invisibleRow">
    <div class="line">
      <label for="nom">Nom de l'image :</label>
      <br>
      <input class="long" id="nom" type="text" required="required" placeholder="Nom de l'image" #name
             [value]="imageToEdit ? imageToEdit.name : null">
    </div>

    <div class="line">
      <label for="image">Chemin de l'image :</label>
      <br>
      <input class="long" id="image" type="text" required="required" placeholder="Chemin de l'image" #path
             [value]="imageToEdit ? imageToEdit.path : null">
    </div>

    <div class="line">
      <label for="keywords">Mots-clés associés à l'image :</label>
      <br>
      <input class="long" id="keywords" type="text" required="required" placeholder="Mots-clés associés à l'image" #keywords
             [value]="imageToEdit ? imageToEdit.keywords : null">
    </div>
  </div>

  <button (click)="createModifyImage()">
    Valider
  </button>

</div>
