<div class="page">
  <div class="line">
    <label for="value">Réponse</label>
    <br>
    <input class="long" id="value" type="text" placeholder="Reponse" #value
           [value]="answerToEdit ? answerToEdit.value : null">
  </div>
  <div class="line">
    <label for="image">Image associée au quiz</label>
    <br>
    <input class="long" id="image" type="text" placeholder="Image associée à la réponse" #image
           [value]="answerToEdit ? answerToEdit.image.id : null">
  </div>
  <div class="line">
    <label for="correct">La réponse est-elle juste?</label>
    <br>
    <div id="correct">
      <input type="radio" name="correct" [checked]="isCorrect" [value]="true" (change)="isCorrect = true"/> Oui
      <input type="radio" name="correct" [checked]="!isCorrect" [value]="false" (change)="isCorrect = false"> Non
    </div>

  </div>
  <button (click)="createModifyAnswer()">
    Valider
  </button>

</div>
