<div class="page">
  <div class="invisibleRow">
    <div class="left">

      <button (click)="goToImageEdit(null)">
        <fa-icon [icon]="addIcon"></fa-icon>
        Ajouter une image
      </button>
    </div>
    <div class="cheat">a</div>
    <div class="right">
      <input type="text" #nom placeholder="Recherche">
      <button (click)="modifyFilter(nom.value)">Rechercher</button>
    </div>
  </div>

  <div *ngFor="let image of imageList |
        paginate: { itemsPerPage: 4, currentPage: pageCount } |
        filter:searchElement"
        style="display: inline-flex"
        class="card"
        (click)="goToImageEdit(image)">

      <img src="{{image.path}}" width="150" height="150">
      {{image.name}}
  </div>

  <pagination-controls class="my-paginator" previousLabel="Précédent" nextLabel="Suivant" autoHide="true"
                       responsive="true"
                       (pageChange)="pageCount = $event">
  </pagination-controls>

</div>
